
.fon-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #1A0B2E;
   

}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}
.logo h1{
    color: #FFFFFF;
    
}


.menu{
    display: flex;
    list-style-type: none;
    gap: 20px;
   
}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.btn{
    background: linear-gradient(  #F7E93F ,#FB09B4 ,#9100F8 );
    border-radius: 1000px;
    padding: 12px;
    width: 135px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;

  
}