*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.fon-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #1A0B2E;
    border-bottom:1px solid #5c5763;
   

}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    padding: 16px;
}
.logo h1{
    color: #FFFFFF;
    
}

.linear{
    background: linear-gradient(40deg, #F7E93F ,#FB09B4 ,#9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.menu{
    display: flex;
    list-style-type: none;
    gap: 20px;
   
}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.btn{
    background: linear-gradient(50deg, #F7E93F ,#FB09B4 ,#9100F8 );
    border-radius: 1000px;
    padding: 12px;
    width: 135px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;

  
}
.humberger{
    display: none;
}
.main-container{
    background: url(../assets/hero-bg.png);
    max-width: 1600px;
    height: 776px;
    
    align-items: center;
    text-align: center;
    
}
.microphone{
    background: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    align-items: center;
    margin:  101px 620px;
    padding: 70px;
    
}
.main-container h4{
    position: relative;
    top: 150px;
    width: 75px;
    height: 38px;
    border-radius: 100px;
    background-color: #00FF88;
    padding-top: 10px;
    text-align: center;
    margin-left: 880px;
    font-size: 18px;
    font-weight: 600;
    
}
.main-text{
    align-items: center;
    width: 550px;
    height: 168px;
    margin: 0 auto;
    position: relative;
    left: 45px;
}
.main-text h1{
   color: white;
   font-size: 60px;
   font-weight: 700;
   margin-bottom: 5px;
}
.main-text p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
 .btn-1{
    background: linear-gradient(50deg, #F7E93F ,#FB09B4 ,#9100F8 );
    padding: 10px;
    border-radius: 50px;
    
}
.btn-2{
    padding: 8px;
    border: 2px solid #00FF88;
    border-radius: 30px;
    background: none;
    font-size: 16px;
    font-weight: 500;
    color: #00FF88;
}





@media screen and (max-width:576px) {
    
    .btn,.menu{
        display: none !important;
    }
    .humberger{
        display: grid;
        width: 24px;
    }
    .main-container{
    width: 100%;
    height: 100%;
    
    align-items: center;
    text-align: center;
    }

    .main-container{
    width: 100%;
    height: 100%;
    
    
  
    }

    .microphone{
        margin: 100px;
    }

    

.main-container h4{
    
    position: relative;
    right: 520px;
}



.main-text{
    width: 100%;
    
    padding-right: 40px;
    
}
}