*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.fon-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #1A0B2E;
    border-bottom:1px solid #5c5763;
   

}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    padding: 16px;
}
.logo h1{
    color: #FFFFFF;
    
}

.linear{
    background: linear-gradient(40deg, #F7E93F ,#FB09B4 ,#9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.menu{
    display: flex;
    list-style-type: none;
    gap: 20px;
   
}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.btn{
    background: linear-gradient(50deg, #F7E93F ,#FB09B4 ,#9100F8 );
    border-radius: 1000px;
    padding: 12px;
    width: 135px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;

  
}
.humberger{
    display: none;
}
.main-container{
    background: url(../assets/hero-bg.png);
    max-width: 1600px;
    height: 776px;
    
    align-items: center;
    text-align: center;
    
}
.microphone{
    background: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    align-items: center;
    margin:  101px 620px;
    padding: 70px;
    
}
.main-container h4{
    position: relative;
    top: 150px;
    width: 75px;
    height: 38px;
    border-radius: 100px;
    background-color: #00FF88;
    padding-top: 10px;
    text-align: center;
    margin-left: 880px;
    font-size: 18px;
    font-weight: 600;
    
}
.main-text{
    align-items: center;
    width: 550px;
    height: 168px;
    margin: 0 auto;
    position: relative;
    left: 45px;
}
.main-text h1{
   color: white;
   font-size: 60px;
   font-weight: 700;
   margin-bottom: 5px;
}
.main-text p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
 .btn-1{
    background: linear-gradient(50deg, #F7E93F ,#FB09B4 ,#9100F8 );
    padding: 10px;
    border-radius: 50px;
    
}
.btn-2{
    padding: 8px;
    border: 2px solid #00FF88;
    border-radius: 30px;
    background: none;
    font-size: 16px;
    font-weight: 500;
    color: #00FF88;
}

.about-container{
    background-color: #1A0B2E;
    max-width: 1600px;
    height: 500px;
    text-align: center;
    padding-top: 50px;
}
.about-content{
    width: 700px;
    height: 222px;
    margin: 0 auto;
    
}
.about-content h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 10px;
}
.about-content p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.about-views{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 600px;
    margin: 0 auto;
    gap: 50px;
    padding-top: 30px;
    border-top: 1px solid #4e4e4f;
    
}
.about-views h1{
    color: #00FF88;
}
.about-views p{
    color: #FFFFFF;
}


.choose-container{
    background-color: #230E3D;
    max-width: 1600px;
    align-items: center;
    
}

.choose-card{
    width: 1200px;
    height: 700px;
    align-items: center;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,100px) ;
}
.card-1,.card-2,.card-3,.card-4,.card-5{
    background-color:#351165 ;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    
    
    
}
.card-1{
    grid-row: span 3;
    grid-column: span 1;
    height: 90%;
    margin-top: 130px;
    
    
    
}
.card-2{
    grid-row:span span 2 ;
    grid-column: span 2;
    width: 80%;
    margin-top: 200px;
    
    
}
.card-3{
    grid-row:span 2 ;
    grid-column: span 2;
    width: 80%;
    margin-top: 180px;
    

    
}
.card-4{
    grid-row: span 2;
    grid-column: span 2;
    width: 80%;
    position: relative;
    bottom: 20px;
    
}
.card-5{
    grid-row: span 2;
    grid-column: span 1;
    height: 50%;
    position: relative;
    right: 150px;
    bottom: 20px;
    width: 100%;
    margin-right: 150px;
}
.heading{
    color: #FFFFFF;
    margin-left: 580px;
    margin-bottom: 10px;
    padding-top: 80px;
}




.featured-container{
    max-width: 1600px;
    height: 1000px;
    background-color: #1A0B2E;
    
}
.featured-episode{
    width: 1200px;
    height: 538px;
    padding: 10px;
    margin: 0 auto;
}
.featured-video{
    display: flex;
}
.featured-video h1{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}
.featured-video p{
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 400;
}
.video{
    width: 380px;
    height: 350px;
    padding: 10px;
    background-color: #250D44;
    border: 1px solid #262627 ;
    border-radius: 7px;
    gap: 10px;
    margin: 5px;
    text-align: center;
}
.feature-h{
    color: #FFFFFF;
    margin: 30px;
    text-align: center;
}
.host-section{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    
}
.host-info{
    display: flex;
    background-color: #250D44;
    border-radius: 10px;
    padding: 30px;
    
}
.host-content{
    text-align: left;
    padding: 40px;
    
}
.host-icon {
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 10px #e3dee9;
    
}
.host-h1{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    
}
.host-icon img{
    
    width: 30px;
    width: 30px;
    border: 1px solid #656289; /* Light purple border */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    
}
.host-content h2{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
}
.host-content p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400px;
}







@media screen and (max-width:576px) {
    
    .btn,.menu{
        display: none !important;
    }
    .humberger{
        display: grid;
        width: 24px;
    }
    .main-container{
    width: 100%;
    height: 100%;
    
    align-items: center;
    text-align: center;
    }

    .main-container{
    width: 100%;
    height: 100%;
    
    
  
    }

    .microphone{
        margin: 100px;
    }

    

.main-container h4{
    
    position: relative;
    right: 520px;
}



.main-text{
    width: 100%;
    
    padding-right: 40px;
    
}
.about-container{
    width: 100%;
    height: 100%;
    align-items: center;
}
.about-content{
    width: 100%;
    height: 100%;
    margin: o auto;
    padding-bottom: 50px;
}

.about-views{
    width: 100%;
    height: 250px;
    padding: 50px;
    grid-template-columns: repeat(2,1fr);
}

.choose-container{
    display: flex;
    flex-direction: column;
}
.choose-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    height: 100%;
}



.card-1{
    grid-row: span 1;
    grid-column: span 1;
    width: 100%;
    height: 100%;
    
    
    
    
    
}
.card-2{
    grid-row:span span 1 ;
    grid-column: span 1;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    
    
}
.card-3{
    grid-row:span 1 ;
    grid-column: span 1;
    width: 100%;
    height: 80%;
    margin-top: 10px;
    

    
}
.card-4{
    grid-row: span 1;
    grid-column: span 1;
    width: 100%;
    height: 100%;
    
}
.card-5{
    grid-row: span 1;
    grid-column: span 1;
    width: 100%;
    height: 100%;
}
.heading{
    color: #FFFFFF;
    margin-left: 80px;
    margin-bottom: 2px;
    padding-top: 10px;
}
.card-1,.card-2,.card-3,.card-4,.card-5{
    
    padding: 10px;
    border-radius: 10px;
    align-items: center;



}

}